@font-face {
  font-family: "Bitcount Grid Single";
  src: url("../assets/fonts/BitcountGridSingle-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

.body {
  height: 120px;
  background-color: #2246D6;
  display: flex;
  align-items: stretch;
}

.row {
  display: flex;
  width: 100%;
  height: 100%;
}

.column {
  color: white;
  box-sizing: border-box;
  height: 100%;
  padding: 20px;

  
&.column-1 {
  flex: 0 0 40%;            
  display: flex;            
  flex-direction: column;   
  justify-content: flex-end;
  align-items: flex-end;    

  text-align: right;
  font-family: "Martel", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0.08em;
  vertical-align: middle;
}

  &.column-2 {
    flex: 0 0 60%;   
    text-align: left;
    font-family: "Bitcount Grid Single", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 38px;
    line-height: 1.2;
    letter-spacing: 0;
    white-space: nowrap;
    padding-left: 100px;
  }
}

@media (max-width: 768px) {
  .body {
    height: auto;
    flex-direction: column;
  }

  .row {
    flex-direction: column;
    height: auto;
  }

  .column {
    width: 100%;
    height: auto;
    padding: 15px;
    text-align: center;
  }

  .column.column-1 {
    flex-direction: row; 
    justify-content: center;
    align-items: center;
    flex-wrap: wrap; 
    gap: 10px; 
    text-align: center;
    font-size: 14px;

    div:not(:last-child)::after {
      content: "|";
      margin: 0 8px;
      opacity: 0.6;
    }
  }

  .column.column-2 {
    padding-left: 0;
    font-size: 28px;
    text-align: center;
    white-space: normal;
  }
}


